FlowShowAsYouGo/flows/Create_Account_Contact_and_Opty-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>setAccountVar</name>
        <label>setAccountVar</label>
        <locationX>317</locationX>
        <locationY>136</locationY>
        <assignmentItems>
            <assignToReference>vaAccountInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttAccountInfo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaRecentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vaAccountID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Contact_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setContactVar</name>
        <label>setContactVar</label>
        <locationX>327</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>vaContactInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttContactInfo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaRecentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vaContactID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Opportunity_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setOptyVar</name>
        <label>setOptyVar</label>
        <locationX>325</locationX>
        <locationY>572</locationY>
        <assignmentItems>
            <assignToReference>vaOptyInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttOptyInfo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaRecentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vaOptyID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Summary</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Needs_Analysis</name>
        <choiceText>Needs Analysis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Analysis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prospecting</name>
        <choiceText>Prospecting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prospecting</stringValue>
        </value>
    </choices>
    <choices>
        <name>Qualification</name>
        <choiceText>Qualification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Qualification</stringValue>
        </value>
    </choices>
    <label>Create Account Contact and Opty</label>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>314</locationX>
        <locationY>15</locationY>
        <assignRecordIdToReference>vaAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>setAccountVar</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Oops</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>324</locationX>
        <locationY>245</locationY>
        <assignRecordIdToReference>vaContactID</assignRecordIdToReference>
        <connector>
            <targetReference>setContactVar</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Oops</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vaAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opty</name>
        <label>Create Opty</label>
        <locationX>329</locationX>
        <locationY>454</locationY>
        <assignRecordIdToReference>vaOptyID</assignRecordIdToReference>
        <connector>
            <targetReference>setOptyVar</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Oops</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vaAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <screens>
        <name>Enter_Account_and_Contact_Information_0</name>
        <label>Enter Account and Contact Information</label>
        <locationX>77</locationX>
        <locationY>17</locationY>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Enter_Contact_Information</name>
        <label>Enter Contact Information</label>
        <locationX>78</locationX>
        <locationY>136</locationY>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email_Address</name>
            <dataType>String</dataType>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Enter_Opportunity_Information</name>
        <label>Enter Opportunity Information</label>
        <locationX>78</locationX>
        <locationY>348</locationY>
        <connector>
            <targetReference>Create_Opty</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!Account_Name} Deal</stringValue>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stage</name>
            <choiceReferences>Prospecting</choiceReferences>
            <choiceReferences>Qualification</choiceReferences>
            <choiceReferences>Needs_Analysis</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Prospecting</defaultSelectedChoiceReference>
            <fieldText>Stage</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Oops</name>
        <label>Oops</label>
        <locationX>698</locationX>
        <locationY>338</locationY>
        <fields>
            <name>OopsHeader</name>
            <fieldText>&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;P ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;We are working on an issue at the moment. But your information is not lost!&lt;/FONT&gt;&lt;/P&gt;&lt;/TEXTFORMAT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Show_Summary</name>
        <label>Show Summary</label>
        <locationX>95</locationX>
        <locationY>575</locationY>
        <fields>
            <name>SummaryHeader</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Here are your latest records&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;A HREF=&quot;/{!vaAccountID}&quot; TARGET=&quot;_blank&quot;&gt;Account: {!Account_Name} &lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;A HREF=&quot;/{!vaContactID}&quot; TARGET=&quot;_blank&quot;&gt;Contact: {!Last_Name}, {!First_Name}&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;A HREF=&quot;/{!vaOptyID}&quot; TARGET=&quot;_blank&quot;&gt;Opportunity: {!Name}&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Enter_Account_and_Contact_Information_0</startElementReference>
    <textTemplates>
        <name>ttAccountInfo</name>
        <text>You have created the Account: {!Account_Name}</text>
    </textTemplates>
    <textTemplates>
        <name>ttContactInfo</name>
        <text>You have created Contact: {!Last_Name}, {!First_Name}</text>
    </textTemplates>
    <textTemplates>
        <name>ttOptyInfo</name>
        <text>You have created the Opportynity: {!Name}</text>
    </textTemplates>
    <variables>
        <name>vaAccountID</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaAccountInfo</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaContactID</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaContactInfo</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaOptyID</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaOptyInfo</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaRecentRecord</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
